body {
  font-family: "Satoshi", sans-serif;
}
.main_container {
  /*background: radial-gradient(rgb(56, 48, 54) 0%, rgb(8, 8, 8) 100%);*/
  background-color: rgb(9, 9, 9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.navbar {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  position: fixed;
  color: red;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 30px;
  border-bottom: 2px solid #716e6ea6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-family: "Satoshi", sans-serif;
  font-weight: 800;
  color: rgb(188, 6, 6);
  font-size: 25px;
  max-width: 50%;
  margin-top: 70px;
  text-align: center;
  line-height: 50px;
} /*theek ha kar dugi*/
.movea_style {
  text-decoration: line-through;
}
.content {
  width: 45%;
  margin-top: 30px;
  text-align: center;
  color: rgb(210, 210, 205);
  font-family: "Satoshi", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 27px;
}
.start_btn {
  color: #dfd6d6;
  font-weight: 600;
  font-size: 20px;
  padding: 7px 15px;
  margin-top: 30px;
  border: none;
  background-color: rgb(188, 6, 6);
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.gradient_container {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(189, 16, 16),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.2;
  z-index: 200;
}
.start_btn:hover {
  opacity: 0.9;
}
