* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*css for the app component*/
.movie_list {
  background-color: black;
}
/*css for the LandingPage*/
body {
  font-family: "Satoshi", sans-serif;
}
.main_container {
  background-color: rgb(9, 9, 9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden !important;
  justify-content: center;
  position: relative;
}
.navbar {
  font-weight: 700;
  position: fixed;
  color: red;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SignIn {
  border: 1px solid rgb(188, 6, 6);
  color: white;
  border-radius: 999px;
  padding: 8px 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.SignIn:hover {
  scale: 0.97;
}

.logo {
  font-size: 30px;
}

.heading {
  font-weight: 800;
  color: rgb(188, 6, 6);
  font-size: 25px;
  max-width: 50%;
  margin-top: 70px;
  text-align: center;
  line-height: 50px;
}

.content {
  width: 45%;
  margin-top: 30px;
  text-align: center;
  color: rgb(210, 210, 205);
  font-weight: 100;
  font-size: 18px;
  line-height: 27px;
}

.start_btn {
  color: #dfd6d6;
  font-weight: 600;
  font-size: 20px;
  padding: 7px 15px;
  margin-top: 30px;
  border: none;
  background-color: rgb(188, 6, 6);
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  z-index: 10;
  transition: all 0.26s ease;
}

.start_btn:hover {
  /*opacity: 0.9;*/
  background-color: white;
  color: rgb(189, 16, 16);
}

.gradient_container {
  position: absolute;
  bottom: 100px;
  left: 20%;
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(189, 16, 16),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.2;
  z-index: 1;
}
/*css for the genres section*/
.gen_main_container {
  position: fixed;
  overflow: hidden;
  background-color: black;
  padding: 15px;
  font-family: "Satoshi", sans-serif;
  color: white;
  min-height: 100vh;
  max-width: 35%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: 0.5px solid rgb(181, 178, 178);
  border-top: 0.5px solid rgb(181, 178, 178);
}
.gen_heading {
  width: 60%;
}
.gen_checked {
  background-color: red;
}
.gen_genre {
  text-align: center;
  padding-top: 4px;
  border-radius: 20%;
  z-index: 4;
}
.gen_genresList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(77px, 2fr));
  width: 100%;
  gap: 15px;
}
.gen_unchecked {
  border: 1px solid rgb(188, 6, 6);
  transition: all 0.3s ease-in-out;
}
.gen_genresList :hover {
  transform: scale(0.95);
}
.gen_gradient_container {
  position: absolute;
  bottom: -100px;
  transform: rotate(200deg);
  left: -150px;
  width: 400px;
  height: 300px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(50px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(189, 16, 16),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.2;
  z-index: 1;
}
.ml_main_container {
  background-color: black;
}
/*css for the main page of the react app*/
.mp_main_container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr;
  justify-content: flex-end;
  position: relative;
  overflow-x: hidden;
}
/*css for the movieList page*/
.ml_main_container {
  width: 100%;
  color: white;
  padding: 100px 0px 100px 70px;
  padding-top: 100px;
  min-height: 100vh;
}
.ml_movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 50px;
  width: 100%;
}
.ml_main_container h1 {
  margin: 20px 40px;
}
/*css for a single movie window*/
.movie_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
  position: relative;
}
.movie_poster img {
  border-radius: 40px;
  width: 350px;
  height: 220px;
}
.movie_nav {
  position: absolute;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  bottom: -0.5px;
  left: 0px;
  width: 100%;
  height: 25%;
  backdrop-filter: blur(20px);
  color: white;
  box-shadow: rgba(44, 44, 44, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 25px;
  gap: 10px;
}
.movie_nav h3 {
  font-size: 15px;
}
.movie_nav_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.movie_nav_content p {
  font-size: 10px;
  color: grey;
}
/*play button css*/
.PlayButton {
  border-radius: 50%;
  font-size: 25px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(100px);
}
/*SEARCH BY TITLE CSS*/
.st_main_container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  top: 0px;
  right: 0px;
  height: 80px;
  width: 100%;
  color: white;
  z-index: 4;
  background-color: black;
  border-bottom: 1px solid #dfd6d6;
}

.st_title {
  width: 400px;
  height: 40px;
  background-color: transparent;
  font-size: 15px;
  padding: 2px 10px;
  color: white;
  border-right: none;
  border: 1px solid grey;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
.st_title:focus {
  outline: none;
  box-shadow: none;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.st_searchBtn {
  height: 40px;
  padding: 10px;
  color: white;
  background-color: rgb(71, 72, 72);
  border: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  font-size: 17px;
  width: 60px;
}
.movieDetails {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(to bottom, black 0%, transparent 10%, black 55%);
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
}
.details_main_container {
  height: 200vh;
  width: 100vw;
  overflow-x: hidden;
}
@media screen and (max-width: 1000) {
}
